a {
  font-size: 1.7rem; }

nav {
  float: left;
  margin-left: -15px; }
  nav li {
    display: inline-block;
    margin-right: 20px; }
    nav li a {
      font-size: 2rem; }

ul {
  list-style-type: none;
  padding-left: 0; }

.login {
  padding: 15px 0; }
  .login input {
    display: block;
    width: 20%;
    margin-bottom: 15px; }
  .login label {
    display: block; }
  .login .submit {
    margin-top: 20px; }

.logout {
  float: right;
  font-size: 2rem;
  margin-right: -15px; }

.content {
  border-top: 1px solid darkgrey;
  margin-top: 50px; }

.trips table .id {
  width: 5%; }

.trips table .boat, .trips table .base, .trips table .view {
  width: 10%; }

.trips table .route {
  width: 50%; }

.trips table .updated {
  width: 15%; }

.boats table .id {
  width: 5%; }

.boats table .name {
  width: 85%; }

.boats table .edit {
  width: 10%; }

.boats input {
  display: block;
  width: 60%;
  margin-bottom: 15px; }

.boats label {
  display: block; }

.boats .deck-image {
  display: block;
  max-width: 100%; }

.boats .boats-title {
  float: left; }

.boats .new-boat {
  float: right;
  margin-top: 25px; }

.boats .boat-actions {
  border-top: 1px solid darkgrey;
  margin-top: 25px;
  padding-top: 25px; }
  .boats .boat-actions .send-login {
    float: left; }
  .boats .boat-actions .save-boat {
    float: right; }

.cargo .category-list .active {
  color: black;
  text-decoration: none;
  cursor: default; }
  .cargo .category-list .active:hover {
    color: black; }

.cargo #items .category-title {
  display: inline-block;
  float: left; }

.cargo #items .category-actions {
  margin-top: 21px;
  float: right; }

.cargo table .id {
  width: 5%; }

.cargo table .name {
  width: 80%; }

.cargo table .edit {
  width: 15%; }
