a {
  font-size: 1.7rem; }

nav {
  float: left;
  margin-bottom: 25px; }
  nav li {
    display: inline-block;
    margin-right: 20px; }

ul {
  list-style-type: none; }

.logout {
  float: right; }

.trips table .id {
  width: 5%; }

.trips table .boat, .trips table .base, .trips table .view {
  width: 10%; }

.trips table .route {
  width: 50%; }

.trips table .updated {
  width: 15%; }

.boats table .id {
  width: 5%; }

.boats table .name {
  width: 85%; }

.boats table .edit {
  width: 10%; }

.cargo .items .category-title {
  display: inline-block;
  float: left; }

.cargo .items .category-actions {
  margin-top: 21px;
  float: right; }

.cargo .category-list {
  padding-left: 0; }

.cargo table .id {
  width: 5%; }

.cargo table .name {
  width: 85%; }

.cargo table .edit {
  width: 10%; }
