a {
    font-size: 1.7rem;
}

nav {
    float: left;
    margin-left: -15px;

    li {
        display: inline-block;
        margin-right: 20px;

        a {
            font-size: 2rem;
        }
    }
}

ul {
    list-style-type: none;
    padding-left: 0;
}

input {
    display: block;
    margin-bottom: 15px;
}

label {
    display: block;
}

.login {
    padding: 15px 0;

    .submit {
        margin-top: 20px;
    }

    input {
        width: 20%;
    }
}

.logout {
    float:right;
    font-size: 2rem;
    margin-right: -15px;
}

.content {
    border-top: 1px solid darkgrey;
    margin-top: 50px;
}

.trips {
    table {
        .id {
            width: 5%;
        }
        .boat, .base, .view {
            width: 10%;
        }
        .route {
            width: 50%;
        }
        .updated {
            width: 15%;
        }
    }
}

.boats {
    table {
        .id {
            width: 5%;
        }
        .name {
            width: 85%;
        }
        .edit {
            width: 10%;
        }
    }

    input {
        width: 60%;
    }

    .deck-image {
        display: block;
        max-width: 100%;
        margin: 15px 0;
    }

    .boats-title {
        float: left;
    }
    .new-boat {
        float:right;
        margin-top: 25px;
    }

    .boat-actions {
        border-top: 1px solid darkgrey;
        margin-top: 25px;
        padding-top: 25px;

        .send-login {
            float: left;
        }
        .save-boat {
            float: right;
        }
    }
}

.cargo {
    .category-list {
        .active {
            color: black;
            text-decoration: none;
            cursor: default;

            &:hover {
                color: black;
            }
        }
    }

    #items {
        .category-title {
            display: inline-block;
            float: left;
        }
        .category-actions {
            margin-top: 21px;
            float: right;
        }
    }

    table {
        .id {
            width: 5%;
        }
        .name {
            width: 80%;
        }
        .edit {
            width: 15%;
        }
    }

}

.new-item {
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    .modal-header {
        margin-bottom: 15px;
        padding: 15px 0;
    }

    .modal-footer {
        margin-top: 15px;
        padding: 15px 0;

        .cancel {
            float: left;
        }
    }
}
